<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rika.spk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo_ikan"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Menu Utama"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".spk"
            android:label="Input Bobot Prioritas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jenis_ikan"
            android:label="Jenis Ikan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lihat_bobot"
            android:label="Bobot Konfigurasi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin"
            android:label="Login Admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hasil_spk"
            android:label="Hasil Rekomendasi"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".menu_admin"
            android:label="Menu Admin"/>

    </application>

</manifest>